@import url("schedule.css");
@import url("gallery.css");
	
.headerInitialSpace{
	background-color: #0064a5;
	opacity: 0.6;
	padding-top: 1%;
}

.marginLeft{
	margin-left: 10%;
}

.headerApplicationText {
	font-weight: 200;
	color: #FFFFFF;
}

.headerIndex{
	background-color: #0D66A4;
	margin-bottom: 0px;
	margin-top: 0px;
}

.navbarCustomize {
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbarText {
	color: #FFFFFF;
	font-weight: 200;
}

.footerSeparatorIndex {
	padding-top: 5px;
	margin-top: 5px;
	border-top: #66A2CA medium solid;
}

.centraltextIndex {
	padding-left: 7%;
}

.bodytext {
	font-size: large;
	font-weight: 200;
}

.informationContainer {
	background-color: #EDF1F8;
}

.theaderTables {
	background-color: #7098C6;	
	font-weight: bold;
	color: #F5F5F5;
}

.informationArticleTitle {
	font-weight: bold;
	color: #575756;
}

.tableTextFirst {
font-size: small;
font-weight: bold;
}


.tableTextSecond{
font-size: small;
font-weight: 200;
}

.footerText {
font-weight: bold;
font-size: 12px;
}

.borderInformationContainerIndex {
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: #F4F4F4;
    background-color: #EDF1F8;

}

.backgroundImage{
	background:url(../../../images/backWeb.jpg);
	background-size: 100% 100%;
}

.borderTable{
border: 2px solid #3580BC !important;

}

.navbarCustomize {
	margin-bottom: 0px;
	border-radius: 0px;
	padding:0px 0px; 
}


/* Estilos de textos .... tamaños fuentes */

@font-face {
    font-family: UniversCn;
    src: url(http://localhost:8000/app/dev/styles/font/UniversLTStd-Cn.otf);
    
}


@font-face {
    font-family: UniversBoldCn;
    src: url(http://localhost:8000/app/dev/styles/font/UniversLTStd-BoldCn.otf);
    
}


.navbarText {
	font-family: UniversCn;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 100;
}

.headerApplicationText {
	color: #653;
	font-size:12px;
}


.textTitle{
	font-size: 20px;
	font-family: UniversBoldCn;

}

.textTitleBasic{
	font-size: 14px;
	font-family: UniversBoldCn;
}

.textNormal{
	font-size: 14px;
}

.textSmall{
	font-size: 12px;
}

.textCursiva{
	font-style: italic
}