<label for="inputValue" class="col-md-2 control-label">Planes</label>
<div class="col-md-5">
  <select id= "plansCombo" class="form-control">
    <option value=""></option>
    {{#plans}}
    <option id="{{id}}}" name="{{hoursPerWeek}}">{{name}}, ${{price}}</option>
    {{/plans}}
  </select>
</div>
</div>