<div id="managmentUsers">
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    
    <div class="col-md-5">
      <p class="informationArticleTitle textTitle">Buscar Usuarios de la Piscina</p><br>
      <div class="form-group">
        <label class="textTitleBasic">Rut o Apellido Paterno </label>
        <input class="form-control" name="userId" id="userId">
      </div>
      <button id="search" class="btn btn-default textTitleBasic">Buscar</button>
      <br>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div id="usersInfo">
      </div>
    </div>
  </div>
  
  <div id="userModify">
  </div>
  <br>
</div>
</div>